body {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    background-color: #111; /* fallback behind your content */
    color: white;
}

/* Centered 1200px container */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

/* === Navigation === */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 350px 0px;
  margin-top: -600px;
  margin-left: 70px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 10px;
    padding: 0px;
   font-size: 20px;
}

.main-nav a {
    color: #EEE982;
    text-decoration: none;
    font-weight: 600;
}

.main-nav a:hover {
    opacity: 0.6;
}


/* === Hero Section === */

.hero-section {
    width: 110%;
    height: 810px; /* adjust based on your mockup */
    background-image: url("Background_img.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 70px;
    margin: 0;
  margin-left: 185px;
   color: #ADFFC0;
}

.hero-text h2 {
    font-family: "Gabarito", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: -10px;
  margin-left: 175px;
   color: #8CEDD1;
}
/* === Second Section === */
.info-box {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto 0 auto;  /* centers the rectangle and adds space above */
    background-color: #9A9300;
    padding: 80px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  margin-right: 10px; 
}

.info-box h2 {
    font-size: 32px;
    color: #8CEDD1;
    margin-bottom: -20px;
    text-align: center;
}

.info-box h3 {
    font-size: 20px;
    color: #BDE9C8;
    margin-bottom: 20px;
    text-align: center;
}

.info-box p {
  margin-top: 50px;
    color: white;
    line-height: 1.5;
    margin-bottom: 70px;
  text-align: left;
  margin-left: 100px;
  font-family: "Gabarito", sans-serif;
  font-weight: 400; 
}

.img1-row {
    display: flex;
    flex-wrap: wrap;
  width: 100%;
}

.img1-row img {
    width: 80%;
height: 260px;
    border-radius: 12px;
    object-fit: cover;
  margin-top: -350px;
  margin-left: 600px;
}