body {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    background-color: #111; /* fallback behind your content */
    color: white;
}

/* Centered 1200px container */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

/* === Navigation === */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 275px 0px;
  margin-top: -500px;
  margin-left: 50px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 10px;
    padding: 0px;
}

.main-nav a {
    color: #EEE982;
    text-decoration: none;
    font-weight: 600;
}

.main-nav a:hover {
    opacity: 0.6;
}


/* === Hero Section === */

.hero-section {
    width: 100%;
    height: 650px; /* adjust based on your mockup */
    background-image: url("Background_img.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    font-family: "Tilt Warp", sans-serif;
    font-size: 55px;
    margin: 0;
  margin-left: 150px;
   color: #ADFFC0;
}

.hero-text h2 {
    font-family: "Gabarito", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
  margin-left: 135px;
   color: #8CEDD1;
}
